*.html
*.tex
.vscode
.vscode/
./.vscode
.ipynb_checkpoints
./.ipynb_checkpoints
.ipynb_checkpoints/
solutions
./solutions
solutions/
./reference
reference/
./rubrics
rubrics/
inprogress/
./inprogress
*supporting*
../supporting/*
*supporting/*
